
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1484422582638'); /* IE9*/
    src: url('iconfont.eot?t=1484422582638#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1484422582638') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1484422582638') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1484422582638#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-index2:before { content: "\e614"; }

.icon-list_dui2:before { content: "\e601"; }

.icon-show_dan:before { content: "\e621"; }

.icon-index:before { content: "\e663"; }

.icon-show_dan2:before { content: "\e607"; }

.icon-list_dui3:before { content: "\e603"; }

.icon-fav2:before { content: "\e613"; }

.icon-minifee:before { content: "\e604"; }

.icon-uc2:before { content: "\e63c"; }

.icon-fav:before { content: "\e70f"; }

.icon-minifee2:before { content: "\e623"; }

.icon-list_ms5:before { content: "\e6d0"; }

.icon-list_ms:before { content: "\e60c"; }

.icon-uc:before { content: "\e63f"; }

.icon-list_search:before { content: "\e686"; }

.icon-list_dui:before { content: "\e62d"; }

.icon-list_ms3:before { content: "\e659"; }

.icon-list_ms2:before { content: "\e633"; }

.icon-list_ms4:before { content: "\e62e"; }

