.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.wx-index__footer {
    height: 50px;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.wx-index__footer .box {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wx-index__footer .box::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 1px;
    background-color: #e8ebf0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 1;

}

.wx-index__footer .box ul {
    height: 50px;
    bottom: constant(safe-area-inset-bottom) !important;
    bottom: env(safe-area-inset-bottom) !important;
    background: #fff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wx-index__footer .box ul li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

li {
    list-style: none;
}

.wx-index__footer .icon {
    position: relative;
    height: 25px;
    background: #fff;
    padding: 5px 0 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.active .wx-index__icon--home {
    background-position: 0 100%;
}

.active .wx-index__icon--publish{
    background-position: -50px 100%;
}

.active .wx-index__icon--message {
    background-position: -75px 100%;
}

.active .wx-index__icon--user {
    background-position: -100px 100%;
}

.wx-index__icon--home {
    background-position: 0 0;
}

.wx-index__footer .active .wx-index__footer--title {
    color: #e6454a;
    font-weight: bold;

}

.wx-index__footer--title {
    font-size: 10px;
    color: #848c99;
    height: 18px;
    line-height: 18px;
    background: #fff;
    position: relative;
    z-index: 1;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Heiti SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.wx-index__icon {
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 172px 50px;
    width: 25px;
    height: 25px;
}

.wx-index__footer .box ul li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;

}

li {
    list-style: none;
}

.wx-index__icon--publish {
    background-position: -50px 0;
}

.wx-index__icon--user {
    background-position: -100px 0;
}

.wx-index__icon--message {
    background-position: -75px 0;
}

.wx-index__icon {
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 172px 50px;
    width: 25px;
    height: 25px;

}

.wx-index__footer--title {
    font-size: 10px;
    color: #848c99;
    height: 18px;
    line-height: 18px;
    background: #fff;
    position: relative;
    z-index: 1;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Heiti SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

