@charset "utf-8"; /* CSS Document */
a,a:active,a:focus {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}

a:active,a:focus {
    outline: expression(hideFocus='true');
}

p {
    margin-bottom: 20px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
}

#tabs {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tabs li {
    float: left;
    margin-right: 2px;
}

#tabs li a{
    display: block;
    padding: 17px 30px;
    text-decoration: none;
    color: #8478B3;
}

#tabs_container {
    padding: 40px;
    overflow: hidden;
    position: relative;
}

#tabs_container div {
    margin-right: 40px;
}

.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.make_transist {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hidescale {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
}

.showscale {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.hideleft {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.showleft {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.hidescaleup {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.showscaleup {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.hideflip {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-transform: rotatey(-90deg) scale(1.1);
    -moz-transform: rotatey(-90deg) scale(1.1);
    -o-transform: rotatey(-90deg) scale(1.1);
    -ms-transform: rotatey(-90deg) scale(1.1);
    transform: rotatey(-90deg) scale(1.1);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.showflip {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;

    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    -o-transform: rotatey(0deg) scale(1);
    -ms-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.tabulous_active {
    background: rgb(249, 239, 128); !important;
    color: #655c89 !important;
}

.tabulousclear {
    display: block;
    clear: both;
}

/*SITE STYLING*/
html {
    background: #655c89;
    font-family: 'Lato', sans-serif;
    color: white;
}

.clear {
    clear: both;
    display: block;
}





.prettyprint {
    padding: 20px;
}

p {
    margin-bottom: 20px;
    color: #777;
    line-height: 150%;
}

.left,.right {
    width: 46%;
    float: left;
}

.left {
    margin-right: 8%;
}

.demointro {
    color: #FFF;
    width: 500px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
}

#mainbuttons {
    width: 350px;
    margin: 0 auto;
}

#mainbuttons li {
    float: left;
    margin-right: 10px;
}

#footerlink {
    text-decoration: none;
    padding-bottom: 20px;
    background: #FFF;
    width: 100%;
    text-align: center;
    display: block;
    color: #777;
}

#footerlink:hover {
    text-decoration: underline;
}

#mainbuttons li:nth-child(2) {
    margin-right: 0px;
}

#mainbuttons li a,.button {
    display: block;
    padding: 10px 15px;
    background: #f27662;
    color: white;
    width: 140px;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    border: 0px;
}

#mainbuttons li a:hover,.button:hover {
    background: rgb(228, 109, 89);
    cursor: pointer;
}


.white {
    color: #557DA8;
}

#container {
    width: 100%;
    background: white;
}

#header {
    background: white;
    height: 300px;
    width: 100%;
}

.regular-checkbox {
    -webkit-appearance: none;
    border: 2px solid #6EA5E1;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.regular-checkbox:active,.regular-checkbox:checked:active {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
    border: 2px solid white;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked:after {
    content: '2714';
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 1px;
    color: white;
}

pre,code {
    font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #CCC;
    padding: 5px;
    margin: 10px 0;
    overflow: hidden;
    background: #F8F8F8;
    color: #333;
}

pre {
    margin-bottom: 20px;
    overflow-x: auto;
}

.wrapper {
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
}

.wrapper ul {
    margin-left: 20px;
}

.wrapper ul li {
    color: #777;
    list-style-type: disc;
    margin-bottom: 20px;
}

.wrapper h3 {
    width: 100%;
    margin-bottom: 20px;
}

hr {
    border: 0px;
    width: 100%;
    border-top: 1px dotted #C0C0C0;
    margin-top: 60px;
    margin-bottom: 60px;
}

.doclink {
    color: #777;
    display: block;
    margin-top: 20px;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

.doclink:hover {
    text-decoration: underline;
}

.created_by {
    font-size: 12px;
    display: block;
    margin-top: 10px;
}

.created_by a {
    color: rgb(101, 92, 137);
}
